---

---

<section id="home" class="home-section">
    <div class="home-content">
      <h1>Oi, eu sou Guilherme</h1>
      <h2>analista de dados</h2>
      <p>Sou estudante de Ciência da Computação apaixonado por análise de dados e Cybersecurity. Entusiasta de ML e Engenharia de Software.</p>
      <a href="#contact" class="cta">
        <span>Contato</span>
          <svg width="15px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
    </div>
    <div class="imagem">
      <img class="img" src="Images/fotoperfil.jpg" alt="minha foto" />
    </div>
  </section>

<style>
    /* Home */
.img{
  width: 400px;          /* tamanho da foto */
  height: 400px;
  object-fit: cover;     /* corta a imagem para caber no quadrado/círculo */
  border-radius: 50%;    /* deixa circular (tira se quiser quadrado com cantos arredondados) */
  border: 4px solid #234567; /* cor da borda (verde, igual às tags do seu site) */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* sombra para destacar */
}

.imagem{
      flex: 1 1 300px;
    display: flex;
    align-items: center;
    position:relative;

    flex-direction: column;
    gap: 40px;
}
.home-section {
  align-items: center;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    max-height: -1200px;
    margin:  0 auto;
    padding: 60px 20px;
    position: relative;



    


}

.home-content {
  animation: fadeIn ease 3s forwards;
  opacity: 0;

position: relative;
    z-index: 2;
    padding: 20px;
    background: #0f2027; /* Fundo branco sólido */
    opacity: 0.9; /* Toda a div com 70% de opacidade */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-content h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
}

.home-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto 30px;
}
.section,
#home.section,
#home{
  padding: 100px 20px;
  min-height: 100vh;
  background: transparent;
  
}

.btn {
  padding: 15px 30px;
  background-color: #f7941d;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff9d2f;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}


.geometric-shape{
        position: absolute;
        width: 50px; /* Tamanho do círculo */
        height: 50px;
        background: #00BFFF; /* Cor azul tech */
        border-radius: 50%; /* Forma de círculo */
        top: 50%;
        left: 100%; /* Posição à esquerda da transparent-box */
        transform: translateY(-50%);
        animation: float 4s ease-in-out infinite; /* Animação de flutuação */
        z-index: 1; /* Abaixo da transparent-box, acima do canvas */
        opacity: 0.5; /* Levemente transparente */
        position: absolute; /* Posicionamento absoluto em relação ao .paper-background */

    }

</style>

