---
// src/layouts/LayoutPrincipal.astro
import ParticlesBackground from '../components/particles.astro'; // 1. Importe o componente

const { title } = Astro.props;
//import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Page</title>
  <link rel="stylesheet" href="login.css" />
</head>
	<body>
		<ParticlesBackground /> <header>
    		<nav>
      		</nav>
  		</header>

  		<main>
    		<slot /> </main>

  		<footer>
    	</footer>
	</body>
</html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364);
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
  background-attachment: fixed;
  color: white;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* fica atrás do resto */
  background: transparent;
}
</style>
